fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
cryptography
httpx
pandas
scikit-learn
joblib
numpy
python-multipart
email-validator
psycopg2-binary